@import 'normalize.css';
* {
  background: rgba(0,0,0,0.05);
}
body {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  line-height: 1.9em;
  letter-spacing: 0.1em;
  color: #676a6f;
  background-color: #282828;
}
a {
  color: #676a6f;
}
a:hover {
  color: #b2dab9;
}
section {
  background-color: #edede8;
  overflow: hidden;
}
.center_wrapper {
  *zoom: 1;
  width: auto;
  max-width: 1014px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3%;
  padding-right: 3%;
}
.center_wrapper:before,
.center_wrapper:after {
  content: '';
  display: table;
}
.center_wrapper:after {
  clear: both;
}
.mega_wrapper {
  margin: 50px;
  padding-bottom: 50px;
  background-color: #edede8;
  position: relative;
}
.nav_clear {
  height: 120px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: height 0.2s ease-in-out, background 0.4s ease-in-out;
          transition: height 0.2s ease-in-out, background 0.4s ease-in-out;
}
.nav_reg {
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: height 0.2s ease-in-out, background 0.4s ease-in-out;
          transition: height 0.2s ease-in-out, background 0.4s ease-in-out;
}
.nav_reg_end {
  height: 60px;
  position: fixed;
  left: 50px;
  right: 50px;
  top: 0;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: height 0.2s ease-in-out, background 0.4s ease-in-out;
          transition: height 0.2s ease-in-out, background 0.4s ease-in-out;
}
.logo_clear {
  fill: #fff;
  height: 52px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 26px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.logo_reg {
  fill: #676a6f;
  height: 35px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 26px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.nav_links_clear {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3em;
}
.nav_links_clear a {
  color: rgba(255,255,255,0.6);
  margin-left: 50px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.nav_links_clear a:hover {
  color: #fff;
}
.nav_links_reg {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.2em;
}
.nav_links_reg a {
  color: #676a6f;
  margin-left: 40px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.nav_links_reg a:hover {
  color: #b2dab9;
}
.selected {
  padding-bottom: 4px;
  border-bottom: 1px solid #b2dab9;
}
.home_hero,
.about_hero {
  height: 620px;
  background-position: center, center !important;
  background-size: cover !important;
  text-align: center;
}
.home_hero_button {
  display: inline-block;
  position: relative;
  top: 320px;
  padding: 25px 30px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}
.home_hero_button .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.3em;
  position: relative;
  text-transform: uppercase;
  top: 2px;
}
.home_hero_button .divider1 {
  border-right: 1px solid #fff;
  display: inline;
  margin: 0 33px 0 20px;
  padding: 10px 0;
  position: relative;
  top: -3px;
}
.home_hero_button .date {
  font-size: 20px;
  letter-spacing: 0.3em;
  position: relative;
  top: 1px;
}
.home_hero_button .play_triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid #fff;
  display: inline-block;
  position: relative;
  top: 5px;
}
.home_hero_button .divider2 {
  border-right: 1px solid #fff;
  display: inline;
  margin: 0 35px 0 20px;
  padding: 42px 0;
  position: relative;
  top: -5px;
}
.about_hero {
  overflow: hidden;
}
.about_hero .title {
  display: inline-block;
  top: 380px;
  padding: 25px 30px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.3em;
  position: relative;
  text-transform: uppercase;
}
.about_hero .divider {
  height: 300px;
  width: 1px;
  border-right: 1px solid #fff;
  margin: 0 auto;
  position: relative;
  top: 380px;
  bottom: -152px;
}
.home_hero_button:hover {
  opacity: 0.7;
}
.portfolio {
  *zoom: 1;
  width: auto;
  max-width: 1014px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 120px;
  margin-bottom: -60px;
}
.portfolio:before,
.portfolio:after {
  content: '';
  display: table;
}
.portfolio:after {
  clear: both;
}
.section_title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3em;
  position: relative;
  text-transform: uppercase;
  color: #676a6f;
  margin-bottom: 60px;
}
.section_title::after {
  content: "";
  width: 50px;
  border-bottom: 1px solid #676a6f;
  display: block;
  margin: 20px auto 0;
}
.project_thumb:nth-child(odd) {
  margin-right: 0;
}
.project_thumb {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 60px;
  display: block;
  position: relative;
  text-align: center;
}
.project_thumb:before,
.project_thumb:after {
  content: '';
  display: table;
}
.project_thumb:after {
  clear: both;
}
.project_thumb:last-child {
  margin-right: 0%;
}
.project_thumb img {
  width: 100%;
}
.project_thumb .overlay {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;
}
.project_thumb .text {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
          transition: opacity 0.4s ease-in-out;
}
.project_thumb .couple {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.project_thumb .location {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #676a6f;
}
.couple::after {
  content: "";
  width: 40px;
  border-bottom: 1px solid #b2dab9;
  display: block;
  margin: 10px auto;
}
.project_thumb:hover .overlay,
.project_thumb:hover .text {
  opacity: 1;
}
.about_info {
  margin-top: 60px;
}
.about_info .headline {
  padding-top: 50px;
  border-top: 1px solid #b2dab9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  position: relative;
  text-transform: uppercase;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 39.9166666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
.about_info .headline:before,
.about_info .headline:after {
  content: '';
  display: table;
}
.about_info .headline:after {
  clear: both;
}
.about_info .headline:last-child {
  margin-right: 0%;
}
.about_info .text {
  padding-top: 50px;
  border-top: 1px solid #676a6f;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.0833333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.about_info .text:before,
.about_info .text:after {
  content: '';
  display: table;
}
.about_info .text:after {
  clear: both;
}
.about_info .text:last-child {
  margin-right: 0%;
}
.team {
  margin-top: 120px;
}
.team .headline {
  padding-top: 50px;
  border-top: 1px solid #b2dab9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3em;
  position: relative;
  text-transform: uppercase;
  color: #676a6f;
  letter-spacing: 0.2em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 39.9166666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
.team .headline:before,
.team .headline:after {
  content: '';
  display: table;
}
.team .headline:after {
  clear: both;
}
.team .headline:last-child {
  margin-right: 0%;
}
.team .profiles {
  padding-top: 50px;
  border-top: 1px solid #676a6f;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.0833333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.team .profiles:before,
.team .profiles:after {
  content: '';
  display: table;
}
.team .profiles:after {
  clear: both;
}
.team .profiles:last-child {
  margin-right: 0%;
}
.team .profile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
.team .profile:before,
.team .profile:after {
  content: '';
  display: table;
}
.team .profile:after {
  clear: both;
}
.team .profile:last-child {
  margin-right: 0%;
}
.team .profile img {
  width: 100%;
  margin-bottom: 20px;
}
.team .profile .first_name,
.team .profile .last_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  color: #676a6f;
}
.team .profile .last_name {
  margin-bottom: 5px;
}
.locations {
  margin-top: 120px;
  padding-top: 50px;
  border-top: 1px solid #b2dab9;
}
.locations .section_title {
  margin-bottom: 20px;
}
.locations .description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.locations .map_wrapper {
  margin-top: 60px;
  position: relative;
  max-width: 1014px;
  max-height: 500px;
}
.locations .pin {
  border-radius: 100%;
  position: absolute;
  width: 1em;
  height: 1em;
  background: #b2dab9;
}
.locations .sf {
  top: 39%;
  left: 15%;
}
.locations .tokyo {
  top: 42%;
  left: 84%;
}
.locations .sydney {
  top: 83%;
  left: 87%;
}
.locations .paris {
  top: 33%;
  left: 48%;
}
.logos {
  margin-top: 120px;
}
.footer {
  margin-top: 180px;
  margin-bottom: 60px;
  border-top: 1px solid #676a6f;
  border-bottom: 1px solid #676a6f;
}
.footer .row_1,
.footer .row_2 {
  position: relative;
  *zoom: 1;
  width: auto;
  max-width: 1014px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .row_1:before,
.footer .row_2:before,
.footer .row_1:after,
.footer .row_2:after {
  content: '';
  display: table;
}
.footer .row_1:after,
.footer .row_2:after {
  clear: both;
}
.footer .hor_divider {
  border-top: 1px solid #676a6f;
}
.newsletter_text {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 39.9166666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
.newsletter_text:before,
.newsletter_text:after {
  content: '';
  display: table;
}
.newsletter_text:after {
  clear: both;
}
.newsletter_text:last-child {
  margin-right: 0%;
}
.newsletter_text .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #676a6f;
  margin-bottom: 10px;
}
.newsletter_text .text {
  font-size: 12px;
  letter-spacing: 0.05em;
  opacity: 0.55;
}
.newsletter_form {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 8.5833333333333%;
  top: 23px;
}
.newsletter_form:before,
.newsletter_form:after {
  content: '';
  display: table;
}
.newsletter_form:after {
  clear: both;
}
.newsletter_form:last-child {
  margin-right: 0%;
}
.newsletter_form .email,
.newsletter_form .button {
  height: 45px;
  border: 1px solid #676a6f;
  text-transform: uppercase;
}
.newsletter_form .email {
  *zoom: 1;
  float: left;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 66.6666666666667%;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 15px;
  background: #edede8;
  letter-spacing: 0.2em;
  -webkit-transition: background 0.2s ease-in-out;
          transition: background 0.2s ease-in-out;
}
.newsletter_form .email:before,
.newsletter_form .email:after {
  content: '';
  display: table;
}
.newsletter_form .email:after {
  clear: both;
}
.newsletter_form .button {
  *zoom: 1;
  float: left;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 33.3333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  background: #676a6f;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}
.newsletter_form .button:before,
.newsletter_form .button:after {
  content: '';
  display: table;
}
.newsletter_form .button:after {
  clear: both;
}
.newsletter_form :focus {
  background: #fff;
}
.newsletter_form .button:hover {
  opacity: 0.8;
}
.row_2 .mini_logo {
  display: inline;
  position: relative;
  width: 26px;
  top: 3px;
  fill: #676a6f;
}
.row_2 .divider_1 {
  border-right: 1px solid #676a6f;
  display: inline;
  margin: 0 30px 0 30px;
  padding: 10px 0;
  position: relative;
  top: -10px;
}
.row_2 .copyright {
  position: relative;
  text-transform: uppercase;
  font-size: 9px;
  top: -10px;
}
.row_2 #facebook,
.row_2 #pinterest,
.row_2 #twitter {
  width: 40px;
  float: right;
  position: relative;
  top: 2px;
  fill: #676a6f;
  -webkit-transition: fill 0.2s ease-in-out;
          transition: fill 0.2s ease-in-out;
}
.row_2 #facebook:hover,
.row_2 #pinterest:hover,
.row_2 #twitter:hover {
  fill: #b2dab9;
}
