@import 'normalize.css';
* {
  background: rgba(0,0,0,0.05);
}
html {
  box-sizing: border-box;
}
body {
  border: 50px solid #282828;
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
}
.home_hero {
  background-image: url("../img/home_hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.home_hero_button {
  display: inline-block;
  margin: 22% auto;
  padding: 25px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
}
.home_hero_button .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.3em;
  position: relative;
  top: 2px;
}
.home_hero_button .divider {
  border-right: 1px solid #fff;
  display: inline;
  margin: 20px;
  padding: 10px 0;
}
.home_hero_button .date {
  font-size: 20px;
  letter-spacing: 0.3em;
  position: relative;
  top: 1px;
  margin-left: 10px;
}
