@import 'normalize.css'
@import 'jeet'
@import 'colors.styl'
@import 'typography.styl'

edit()

html
	box-sizing: border-box
 
body
	border: 50px solid dark_grey
	body_copy_typography()

.home_hero
	//height: 660px
	background-image: url('../img/home_hero.jpg');
	background-size: 100%
	background-repeat: no-repeat
	text-align: center

.home_hero_button
	display: inline-block
	margin: 22% auto
	padding: 25px
	color: white
	border: 1px solid white
	text-transform: uppercase
		.title
			title_1()
			top: 2px
		.divider
			border-right: 1px solid white
			display: inline
			margin: 20px
			padding: 10px 0
		.date
			font-size: 20px
			letter-spacing: .3em
			position: relative
			top: 1px
			margin-left: 10px

