@import 'normalize.css'
@import 'jeet'
@import 'colors.styl'

edit()

html
	box-sizing: border-box
 
body
	border: 50px solid dark_grey
 	//height: 100%	

.home_hero
	//height: 660px
	background-image: url('../img/home_hero.jpg');
	background-size: 100%
	background-repeat: no-repeat
	text-align: center

.home_hero_button
	display: inline-block
	//padding: 20px
	margin: 22% 0
	color: white
	border: 1px solid white
	text-transform: uppercase
		.divider
			height: 14px
			border-right: 1px solid white
			display: inline-block
			margin: 20px
