body_copy_typography()
	font-family: 'Libre Baskerville', serif
	font-size: 13px
	line-height: 20px
	letter-spacing: 2px

title_1()
	font-family: 'Montserrat', sans-serif
	font-weight: 400
	font-size: 25px
	letter-spacing: .3em
	position: relative